/************ Global ************/

* { margin:0; padding:0; }

/* Type */

@font-face {
    font-family: "Droid Sans";
    src: url("type/ChromeDroidSans.ttf");
}
@font-face {
    font-family: "Droid Sans Bold";
    src: url("type/ChromeDroidSansBold.ttf");
}

html, body, #wrap {
    height: 100%;
    background-color: #f5f5f5 !important;
    font-family: 'Droid Sans';
    letter-spacing: 0em;
    overflow: hidden;
}


/*  fix for the position: relative which is set
    by the mobile framework and does not work in
    chrome apps
*/
#static { position: static; }

.absolute { position: absolute; }

body > #wrap { height: 100%;}

body div { padding-top: 0px; }

.splash {
    height: 100%;
    width: 100%;
    background: #f5f5f5;
    z-index: 1000;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.hidden { display: none }

[draggable] {
  -webkit-user-select: none;
  user-select: none;
}

#loading {
    font-size: 10pt;
    color: #2d2d2d;
}

/************ Buttons ************/

.km-button, button, .button {
    cursor: pointer;
    text-decoration: none;
    font-family: "Droid Sans Bold";
    min-width: 64px;
}

.km-button img { width: 20px; }

/************ Animations ************/

.animate { -webkit-transition: all 0.5s ease-out; }

/************ Bar ************/

/* Bar Structure */

.footer {
    height: 60px;
    clear: both;
}

.km-footer { background-color: transparent; }

.bar {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-top: 1px solid #EBEBEB;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}
    .bar > section {
        height: 100%;
        -webkit-flex: 1;
        display: -webkit-box;
        -webkit-box-align: center;
    }

.km-footer .left { padding-left: 15px; }

.km-footer .center {
    text-align: center;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
}
    .km-footer .center > div {
        width: 120px;
    }

.km-footer .right {
    padding-right: 15px;
    -webkit-box-pack: end;
}

/* Bar Contents */

.saving h3 {
    padding: 20px 0;
    color: white;
}

.mode { margin-left: 25px; }
    .mode .km-button {
        border-radius: 0;
        border-right-width: 1px;
    }
    .mode .km-button:hover { box-shadow: none; }

.mode .km-button:first-child {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-right-width: 0px;
    position: relative;
    left: 4px;
}
.mode .km-button:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.capture {
    border-color: #cc0018;
    background-color: #fe2d38;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fe2d38),to(#e30a26));
    background-image: -webkit-linear-gradient(top,#fe2d38,#e30a26);
    background-image: linear-gradient(top,#fe2d38,#e30a26);
}
    .capture:hover {
        border-color: #cc0018;
        background: #fe2d38;
    }

    .capture img { display: none; }

    .capture.photo .photo,
    .capture.paparazzi .paparazzi,
    .capture.video .video { display: inline; }

.bar .countdown {
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}
    .countdown span { display: none; }

.circle {
    border-radius: 50%;
    display: block;
    width: 18px;
    height: 18px;
    overflow: hidden;
    border: 1px solid #ccc;
    margin: auto 10px;
}

.red-dot {
    position: relative;
    display: block;
    left: -1px;
    background-color: #BA000D;
    text-align: center;
    -webkit-transition: border-radius 0.5s ease-out;
    height: 20px;
    width: 20px;
    box-shadow: inset 0px 0px 5px 0 #ccc;
    border-radius: 50%;
    top: -1px;
}

.bar .galleryLink {
    display: block;
    background: white;
    height: 54px;
    width: 72px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, .75);
}

#destination {
    height: 54px;
    width: 72px;
}

.thumbnail {
    width: 72px;
    height: 54px;
}

/* BH: added to stop flip from jumping to the right on the first flip
   still not sure why this is happening. thinking it has something
   to do with the CSS flip animation
*/
#thumbnails {
    -webkit-transform-style: preserve-3d;
}

.details .bar .right, .details .bar .left {
    display: -webkit-box;
    -webkit-box-align: center;
}
    .details .bar .right { -webkit-box-pack: end; }

/* Popover */

.km-blackberry .km-popup.km-pane .km-content {
    background-image: none !important;
    background-color: #f1f1f1 !important;
}

.km-popup-arrow { left: 88px !important; }

    .km-scroll-container p:first-child { margin-top: 2em; }
    .km-scroll-container a {
        background-color: #555;
        color: white;
    }
    .km-scroll-container .cancel { background-color: #E15613; }
    .km-scroll-container a:hover { background: #bbb; }

/************ Preview view ************/

#preview { height: 100%; }

#select {
    height: 92%;
    width: 100%;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.filters {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.flip {
    margin-left: auto;
    margin-right: auto;
    height: 600px;
}
    .flip > .page {
        position: absolute;
        background-color: #f5f5f5;
        height: 600px;
    }

.flip, .flip > .page { width: 780px; padding-top: 12px; }

.thumbnail { margin-left: 13px; }
    .thumbnail:first-child { margin-left: 0; }

.preview canvas {
    width: 360px;
    height: 240px;
}

/************ Filter List ************/

.capturing .filters-list {
    display: none !important;
}

.filters-list {
    position: absolute;
    left: -135px;
    font-size: 13px;
}

    .filters-list ul {
        list-style-type: none;
    }

    .filters-list li { padding: 5px 12px; }
        .filters-list li:hover {
            background: #eee;
            cursor: pointer;
        }

    .filters-list .selected {
        border-left: 4px solid #DD4B39;
        padding-left: 8px;
        font-weight: bold;
        color: #DD4B39;
    }

/************ Gallery view ************/

.gallery {
    height: 800px;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    background-color: #f1f1f1;
    width: 989px;
    margin: 0 auto;
}

.gallery .thumbnail {
    float: left;
    text-align: center;
    width: 240px;
    height: 180px;
    -webkit-transition: -webkit-transform .02s ease-in-out;
    margin: 0 9px 18px 9px;
    border: 1px solid #2D2D2D;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .15);
}

.gallery .thumbnail:hover, .preview:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .5);
}

.gallery .selected {
    border: 2px solid #1A5EFF;
    margin: -2px 8px 18px 8px;
    background: #1A5EFF;
}

.gallery .selected:focus {
    opacity: 1;
    outline-color: #1A5EFF;
    outline-style: solid;
}

/* Details view */

.details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-align: center;
}

.details img, .details video {
    display: block;
    margin: auto;
    border: 1px solid #2d2d2d;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .25);
}

/* Previous/Next Arrows */

.previous, .next {
    display: block;
    font-size: 130px;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    cursor: pointer;
    color: #D4D4D4;
    height: 55px;
    overflow: hidden;
    line-height: 35px;
}
    .previous:hover, .next:hover { color: #2d2d2d; }
    .previous { left: 10px; }
    .next {
        margin-right: 10px;
        right: 0;
    }

/************ Full view ************/

.full {
    background: #f5f5f5;
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

    .full > div {
        margin: auto;
        width: 720px;
        height: 540px;
        position: relative;
        top: 45%;
        margin-top: -240px;
    }
    .wrapper .snapshot {
        width: 720px;
        height: 540px;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #2d2d2d;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 23px 5px, rgba(0, 0, 0, 0.14902) 0px 2px 6px;
    }
    .full .flash {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #EDEDED;
    }
    .full .transfer {
        position: absolute;
        background-color: #EDEDED;
    }

.timer {
    background: #2d2d2d;
    border-radius: 2px;
    height: 16px;
    width: 30px;
    font-size: 17px;
    color: white;
    padding: 5px 10px 5px 5px;
    text-align: right;
    line-height: 17px;
    position: relative;
    left: 40px;
    top: 30px;
}
    .timer:before {
        content: "";
        position: absolute;
        display: block;
        top: 8px;
        left: 7px;
        background-color: #BA000D;
        width: 10px;
        height: 10px;
        margin: auto;
        box-shadow: inset 0px 0px 3px 0 #000;
        border-radius: 50%;
    }

a.canvas img { display: none; }

a.canvas {
    display: block;
    width: 360px;
    height: 240px;
}

.flipping a.canvas canvas { display: none; }

.flipping a.canvas img { display: block; }

/************ About view ************/

.about {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    background: #fff;
}

.appInfoHeader {
    background: url("images/icon_256.png");
    background-position: -14px -19px;
    background-repeat: no-repeat;
    background-size: 134px 134px;
    margin-bottom: 80px;
}
    .km-content .appInfoHeader h1 {
        margin-left: 115px;
        font-size: 65px;
    }
    .km-content .appInfoHeader h2 {
        padding-left: 10px;
        font-size: 20px;
        position: relative;
        margin-left: 115px;
        top: -13px;
        color: #666;
        font-weight: normal;
    }
    .about h3 { margin: 0; }
    .about h4 {
        font-weight: normal;
        position: relative;
        margin: 2px 0 0;
        font-size: 13px;
    }
    .about h5 {
        position: relative;
        font-size: .7em;
        color: #777;
        margin: 10px 0 0;
    }

.appInfoHeader + * {
    background: url("images/kendoAboutBG.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 940px 72px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    width: 100%;
    padding: 60px 0 20px;
}
.appInfoHeader + * hgroup {
    background: url("images/kendoUILogo.png") -12px 0 no-repeat;
    padding: 20px 0 40px 60px;
    background-size: 80px 80px;
}
    .about .back {
        display: block;
        margin-top: 50px;
    }

/************ Modal Windows ************/

.modal-window .km-footer {
    text-align: right;
    height: 35px;
}
    .modal-window .km-footer a { margin-left: 5px; }
/************ Clearfix ************/

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

#transfer {
    position: fixed;
    z-index: 999999999;
}