html, body {
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
    overflow:hidden;
}

.absolute { position: absolute; }

.hidden { display: none }

#video, #canvas, .wrapper {
    width: 720px;
    height: 540px;
}

#video { display: none; }

.wrapper {
    position: absolute;
    z-index: 1000;
    top: 43px;
    left: 135px;
}

#canvas, .transfer { border: 1px solid #2d2d2d; }

.paparazzi-wrapper { position: absolute; }

.wrapper .paparazzi { left: 50px; }
.wrapper .paparazzi, .wrapper .paparazzi:before, .wrapper .paparazzi:after {
    border: 1px solid rgba(225, 225, 225, .7);
    height: 20px;
    content: '';
    width: 20px;
    position: relative;
    z-index: 5000;
}
    .wrapper .paparazzi:before {
        top: 4px;
        left: -8px;
        display: block;
    }
    .wrapper .paparazzi:after {
        top: -12px;
        left: -15px;
        display: block;
    }

.paparazzi-1 .paparazzi,
.paparazzi-2 .paparazzi:before,
.paparazzi-3 .paparazzi:after {
    background: rgb(45, 45, 45);
    border-color: rgb(255, 255, 255);
}

.thumbnail {
    top: 633px;
    left: 902px;
    visibility: hidden;
    pointer-events: none;
    height: 54px;
    width: 72px;
}

.transfer {
    position: absolute;
    z-index: 1001;
}

    .transfer.slide-in-0 {
        -webkit-transition: all 0.5s ease-in-out;
        -webkit-transform: translate(-20px, 20px);
    }

    .transfer.slide-in-1 {
        -webkit-transition: 0.2s ease-in-out;
        -webkit-transform: translate(-10px, 10px);
    }

    .transfer.slide-out {
        -webkit-transition: 0.5s ease-in-out;
        -webkit-transform: translate(10px, -10px);
    }

#flash {
    position: absolute;
    z-index: 10000;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
}