html, body {
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
    overflow:hidden;
}

.absolute { position: absolute; }

.hidden { display: none }

#video, #canvas, .wrapper {
    width: 720px;
    height: 540px;
}

#video {
    display: none;
}

.wrapper {
    position: absolute;
    z-index: 1000;
    top: 44px;
    left: 136px;
}

.paparazzi-wrapper {
    position: absolute;
}

.wrapper .paparazzi { left: 50px; }
.wrapper .paparazzi, .wrapper .paparazzi:before, .wrapper .paparazzi:after {
    border: 1px solid #ddd;
    height: 20px;
    content: '';
    width: 20px;
    background: #2d2d2d;
    position: relative;
    z-index: 5000;
}
    .wrapper .paparazzi:before {
        top: 4px;
        left: -8px;
        display: block;
    }

    .wrapper .paparazzi:after {
        top: -12px;
        left: -15px;
        display: block;
    }

.paparazzi-1 .paparazzi,
.paparazzi-2 .paparazzi:before,
.paparazzi-3 .paparazzi:after
 { background: #ddd; }

.thumbnail {
    top: 633px;
    left: 902px;
    visibility: hidden;
    pointer-events: none;
    height: 54px;
    width: 72px;
}

.transfer {
    position: absolute;
    z-index: 1001;
}

#flash {
    position: absolute;
    z-index: 10000;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
}