<div class="bar">
	<div class="left">
		<ul class="mode">
			<li><a href="#" data-mode="image" data-shape="circle" data-capture-shape="circle" class="photo active" alt="Photo Mode" title="Photo Mode"></a></li>
			<li><a href="#" data-mode="video" data-shape="circle" data-capture-shape="square" class="video" alt="Video Mode" title="Video Mode"></a></li>
			<li><a href="#" data-mode="paparazzi" data-shape="circle" data-capture-shape="circle" class="paparazzi" alt="Paparazzi Mode" title="Paparazzi Mode"></a></li>
		</ul>
		<span class="back">&lsaquo; Camera</span>
	</div>
	<div class="center">
		<div>
			<div class="capture">
				<div class="gray circle">
					<div class="red-dot circle"></div>
				</div>
			</div>
			<div class="countdown">
				<span class="red-dot circle"></span>
				<span class="red-dot circle"></span>
				<span class="red-dot circle"></span>
			</div>
		</div>
	</div>
	<div class="right">
		<a href="#" class="galleryLink hidden" alt="Go to the Gallery" title="Go to the Gallery"></a>
		<span class="delete">Delete</span>
		<button class="share">Share</button>
	</div>
</div>
