<section class="bar">
	<section class="left">
		<ul class="mode hidden">
			<li>
				<a data-bind="click: mode.click" class="photo active" data-mode="photo" alt="Photo Mode" title="Photo Mode"></a>
			</li>
			<li>
				<a data-mode="video" class="video" data-bind="click: mode.click" data-mode="video" alt="Video Mode" title="Video Mode"></a>
			</li>
			<li>
				<a data-mode="paparazzi" class="paparazzi" data-bind="click: mode.click" data-mode="paparazzi" alt="Paparazzi Mode" title="Paparazzi Mode"></a>
			</li>
		</ul>
		<a href="#home" class="back hidden" data-bind="click: camera.click">&lsaquo; Camera</a>
	</section>
	<section class="center">
		<div>
			<div class="capture">
				<div class="gray circle" data-bind="events: { click: capture.click } ">
					<div class="red-dot circle"></div>
				</div>
			</div>
			<div class="countdown">
				<span class="red-dot circle"></span>
				<span class="red-dot circle"></span>
				<span class="red-dot circle"></span>
			</div>
			<div class="saving hidden">
				<h3>Omnom.</h3>
				<p>I'm crunching this sweet video. Just a moment please...</p>
			</div>
		</div>
	</section>
	<section class="right">
		<a href="#g" data-transition="overlay:up reverse" data-bind="click: gallery.click" class="galleryLink" alt="Go to the Gallery" title="Go to the Gallery">
			<img class="thumbnail" data-bind="attr: { src: thumbnail.src }" />
		</a>
		<div class="delete hidden"></div>
		<button class="share hidden">Share</button>
		<a href="#home" class="button filters hidden">Filters</a>
	</section>
</section>
