<div class="bar">
	<div class="left">
		<ul class="mode">
			<li><a href="#" class="photo" alt="Photo Mode" title="Photo Mode"></a></li>
			<li><a href="#" class="video" alt="Video Mode" title="Video Mode"></a></li>
			<li><a href="#" class="paparazzi" alt="Paparazzi Mode" title="Paparazzi Mode"></a></li>
		</ul>
	</div>
	<div class="center">
		<div class="capture">
			<div class="gray circle">
				<div class="red-dot circle"></div>
			</div>
		</div>
		<div class="countdown">
			<span class="red-dot circle"></span>
			<span class="red-dot circle"></span>
			<span class="red-dot circle"></span>
		</div>
	</div>
	<div class="right">
		<a href="#" class="galleryLink" alt="Go to the Gallery" title="Go to the Gallery"></a>
	</div>
</div>
