<section class="bar">
	<section class="left">
		<span class="mode" data-bind="visible: mode.visible">
			<a data-bind="click: mode.click" class="selected km-button" data-mode="photo" alt="Photo Mode" title="Photo Mode"><img src="styles/images/cameraMode.png"></a>
			<a data-mode="video" class="km-button" data-bind="click: mode.click" data-mode="video" alt="Video Mode" title="Video Mode"><img src="styles/images/videoMode.png"></a>
			<a data-mode="paparazzi" class="km-button" data-bind="click: mode.click" data-mode="paparazzi" alt="Paparazzi Mode" title="Paparazzi Mode"><img src="styles/images/papparazziMode.png"></a>
		</span>
		<a data-role="button" class="button filters" data-bind="click: filters.click, visible: filters.visible">Filters</a> 
	</section>
	<section class="center">
		<div>
			<div class="capture" data-bind="visible: capture.visible">
				<div class="gray circle" data-bind="events: { click: capture.click } ">
					<div class="red-dot circle stop"></div>
				</div>
			</div>
			<div class="countdown">
				<span class="red-dot circle counter"></span>
				<span class="red-dot circle counter"></span>
				<span class="red-dot circle counter"></span>
			</div>
			<div class="saving" data-bind="visible: processing.visible">
				<h3>Processing...</h3>
			</div>
		</div>
	</section>
	<section class="right">
		<div class="thumbnail">
			<div class="absolute" id="destination" class="thumbnail" ></div>
			<div class="absolute">
				<a href="\#gallery" data-transition="overlay:up reverse" data-bind="visible: thumbnail.visible" class="galleryLink" alt="Go to the Gallery" title="Go to the Gallery"></a>
			</div>
		<div>
	</section>
</section>
