<section class="bar">
    <section class="left">
        <a data-role="button" class="button filters" data-click="APP.bottom.filters" data-bind="visible: filters.visible, localeText: filters_button" data-tabable tabindex="0"></a>
        <span class="mode" data-bind="visible: mode.visible">
            <a data-role="button" data-click="APP.bottom.mode" data-bind="localeTitle: photo" class="selected" data-mode="photo"
               data-tabable tabindex="0">
                <img src="styles/images/singleMode.png">
            </a>
            <a data-role="button" data-click="APP.bottom.mode" data-mode="paparazzi" data-bind="localeTitle: paparazzi" data-mode="paparazzi"
               data-tabable tabindex="0">
                <img src="styles/images/papparazziMode.png">
            </a>
            <!-- <a data-mode="video" class="km-button" data-bind="click: mode.click" data-mode="video" alt="Video" title="Video"><img src="styles/images/videoMode.png"></a> -->
        </span>
    </section>
    <section class="center">
        <a data-role="button" data-click="APP.bottom.capture" class="km-button capture photo" data-bind="visible: capture.visible" tabindex="0" data-tabable tabindex="0">
            <img src="styles/images/capture.png" class="photo">
        </a>
        <div class="countdown">
            <span class="circle counter">
                <span class="red-dot"></span>
            </span>
            <span class="circle counter">
                <span class="red-dot"></span>
            </span>
            <span class="circle counter">
                <span class="red-dot"></span>
            </span>
        </div>
        <div class="saving" data-bind="visible: processing.visible">
            <h3>Processing...</h3>
        </div>
    </section>
    <section class="right">
        <div class="thumbnail">
            <div class="absolute" id="destination" class="thumbnail" ></div>
            <div class="absolute">
                <a data-role="clickable" data-click="APP.bottom.gallery" data-bind="visible: thumbnail.visible, localeTitle: gallery" class="galleryLink" data-tabable tabindex="0"></a>
            </div>
        <div>
    </section>
</section>