<section class="bar">
	<section class="left">
		<ul class="mode" data-bind="style: { display: mode.display }">
			<li>
				<a data-bind="click: mode.click" class="photo active" data-mode="photo" alt="Photo Mode" title="Photo Mode"></a>
			</li>
			<li>
				<a data-mode="video" class="video" data-bind="click: mode.click" data-mode="video" alt="Video Mode" title="Video Mode"></a>
			</li>
			<li>
				<a data-mode="paparazzi" class="paparazzi" data-bind="click: mode.click" data-mode="paparazzi" alt="Paparazzi Mode" title="Paparazzi Mode"></a>
			</li>
		</ul> 
	</section>
	<section class="center">
		<div>
			<div class="capture" data-bind="style: { display: capture.display }">
				<div class="gray circle" data-bind="events: { click: capture.click } ">
					<div class="red-dot circle stop"></div>
				</div>
			</div>
			<div class="countdown">
				<span class="red-dot circle counter"></span>
				<span class="red-dot circle counter"></span>
				<span class="red-dot circle counter"></span>
			</div>
			<div class="saving" data-bind="style: { display: processing.display }">
				<h3>Processing...</h3>
			</div>
		</div>
	</section>
	<section class="right">
		<a data-role="button" class="button filters" data-bind="click: filters.click, style: { display: filters.display }">Filters</a>
		<a href="\#gallery" data-transition="overlay:up reverse" data-bind="visible: thumbnail.visible" class="galleryLink" alt="Go to the Gallery" title="Go to the Gallery">
			<img class="thumbnail" id="destination" data-bind="attr: { src: thumbnail.src }" />
		</a>
	</section>
</section>
