<section class="bar">
	<section class="left">
		<a data-role="button" href="\#home" data-bind="invisible: back.details, localeText: back_to_camera_button"></a>
		<a data-role="button" data-bind="visible: back.details, click: back.click, localeText: back_to_gallery_button" class="back button"></a>
	</section>
	<section class="center"></section>
	<section class="right">
		<a class="km-button" data-bind="click: destroy.click, visible: selected" data-rel="popover" ><img src="styles/images/trashcan.png"></a>
		<a data-role="button" data-bind="visible: selected, click: share.save, localeText: save_button" class="kd-button-action"></a>
	</section>
</section>


