<section class="bar">
	<section class="left">
		<a data-role="backbutton" href="\#home" data-bind="invisible: back.details" 
		id="back" class="back button">Camera</a>
		<a data-role="button" data-bind="visible: back.details, click: back.click"
		id="back" class="back button">Gallery</a>
	</section>
	<section class="center"></section>
	<section class="right">
		<div class="delete" data-bind="visible: selected, click: destroy.click"></div>
		<a data-role="button" data-bind="visible: selected, click: share.save" class="button">Save</a>
	</section>
</section>
