<section class="bar">
	<section class="left">
		<a data-role="button" href="\#home" data-bind="invisible: back.details, localeText: back_to_camera_button"></a>
		<a data-role="button" data-click="APP.top.back" data-bind="visible: back.details, localeText: back_to_gallery_button" class="back button"></a>
	</section>
	<section class="center"></section>
	<section class="right">
		<a data-role="button" data-click="APP.top.destroy" data-bind="visible: selected" data-rel="popover" >
			<img src="styles/images/trashcan.png">
		</a>
		<a data-role="button" data-click="APP.top.save" data-bind="visible: selected, localeText: save_button" class="kd-button-action"></a>
	</section>
</section>


