<div class="details">
	<div class="bar">
		<div class="left">
			<span class="back" data-bind="click: close">&lsaquo; Gallery</span>
		</div>
		<div class="middle"></div>
		<div class="right">
			<span class="delete" data-bind="click: deleteItem">Delete</span>
			<button class="share">Share</button>
		</div>
	</div>
	# if (type === 'webm') { # 
		<video src="#: src #" controls></video>
	# } else { #
		<img src="#: src #">
	# } #
	<span class="previous" data-bind="visible: canGoToPrevious, click: goToPrevious">&lsaquo;</span>
	<span class="next" data-bind="visible: canGoToNext, click: goToNext">&rsaquo;</span>
</div>