# for (var row = 0; row < rows.length; ++row) { #
	<section class="gallery-row">
		# for (var col = 0; col < rows[row].length; ++col) { #
			<article class="thumbnail" draggable="true">
				# if (rows[row][col].type === 'webm') { # 
					<video width="270" height="180" controls data-media-type="#: rows[row][col].type #" data-file-name="#: rows[row][col].name #"></video>
				# } else { #
					<img src="styles/images/blank-photo.jpg" width="270" height="180" data-media-type="#: rows[row][col].type #" data-file-name="#: rows[row][col].name #">
				# } #
			</article>
		# } #
	</section>
# } #
