<section class="settings">
	<hgroup class="appInfoHeader">
		<h1>Camera</h1>
		<h2>Settings</h2>
	</hgroup>
	<section>
		<ul>
			<li>
				Camera flash: <input id="wink-switch" data-role="switch" data-bind="checked: flash.enabled, events: { change: flash.change }" />
			</li>
			<li>
				<a class="button" data-role="button" data-bind="click: gallery.clear">Clear Gallery</a>
			</li>
		</ul>
		<button data-role="button" data-bind="click: hide" class="button back">Back</button>
	</section>
</section>