/* Global Styles */

* { margin:0; padding:0; } 

html, body, #wrap { height: 100%; background-color: #EDEDED; }

body > #wrap {height: auto; min-height: 100%;}

#main { padding-bottom: 150px; }  /* must be same height as the footer */

.hidden {
	display: none;
}

/* Footer bar styles */

#footer { 
    position: relative;
	margin-top: -75px; /* negative value of footer height */
	height: 75px;
	clear:both;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(15%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
}

.capture {
	border-radius: 50%;
}

/* Preview Styles */

#preview {
	height: 100%;
}

#preview > div {
	position: absolute;
}

.half {
	height: 50%;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
}

.preview {
	margin: 10px;
	-webkit-box-flex: 1;
}

.preview > div {
	width: 400px;
	height: 300px;
	background: white;
    box-shadow:  0px 0px 1px 2px rgba(33, 33, 33, .2);
    border-radius: 2px;
	padding: 10px;
	margin: auto;
}

/* Full Styles */

#full {
	background-color: #EDEDED;
}